version: '3'
services:
  db:
    container_name: blog-backend
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER:
      POSTGRES_PASSWORD:
    ports:
      - '5433:5432'
